<!--====== Section 1 ======-->
<div class="u-s-p-y-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">

                            <a href="/">Ana Sayfa</a>
                        </li>
                        <li class="is-marked">

                            <a asp-controller="User" asp-action="Account">Hesabım</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End - Section 1 ======-->
<!--====== Section 2 ======-->
<div class="u-s-p-b-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="dash">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">

                        <!--====== Dashboard Features ======-->
                        @await Component.InvokeAsync("UserDashboardSidebarProfileComponent")

                        @await Component.InvokeAsync("UserDashboardSidebarOrderComponent")
                        <!--====== End - Dashboard Features ======-->
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                            <div class="dash__pad-2">
                                <h1 class="dash__h1 u-s-m-b-14">Hesabımı Düzenle</h1>

                                <span class="dash__text u-s-m-b-30">Hesabımı Düzenle seçeneği ile son hesabınızdaki son aktiviteleri görüntüleyebilir ve düzenleyebilirsiniz. Görüntülemek veya düzenlemek için aşağıdaki linklere tıklayabilirsiniz.</span>
                                <div class="row">
                                    <div class="col-lg-4 u-s-m-b-30">
                                        <div class="dash__box dash__box--bg-grey dash__box--shadow-2 u-h-100">
                                            <div class="dash__pad-3">
                                                <h2 class="dash__h2 u-s-m-b-8">KİŞİSEL PROFİL</h2>
                                                <div class="dash__link dash__link--secondary u-s-m-b-8">

                                                    <a href="dash-edit-profile.html">DÜZENLE</a>
                                                </div>

                                                <span class="dash__text">@User.Identity.Name</span>

                                                <span class="dash__text">bya**n@gmail.com</span>
                                                <div class="dash__link dash__link--secondary u-s-m-t-8">

                                                    <a data-modal="modal" data-modal-id="#dash-newsletter">Bültene Abone Ol</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 u-s-m-b-30">
                                        <div class="dash__box dash__box--bg-grey dash__box--shadow-2 u-h-100">
                                            <div class="dash__pad-3">
                                                <h2 class="dash__h2 u-s-m-b-8">ADDRESS BİLGİLERİ</h2>

                                                <span class="dash__text-2 u-s-m-b-8">Varsayılan Teslimat Adresi</span>
                                                <div class="dash__link dash__link--secondary u-s-m-b-8">

                                                    <a href="dash-address-book.html">Düzenle</a>
                                                </div>

                                                <span class="dash__text">Adres dinamik olacak</span>

                                                <span class="dash__text">(+90) Tel no Dinamik olacak!</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 u-s-m-b-30">
                                        <div class="dash__box dash__box--bg-grey dash__box--shadow-2 u-h-100">
                                            <div class="dash__pad-3">
                                                <h2 class="dash__h2 u-s-m-b-8">FATURA ADRESİ</h2>

                                                <span class="dash__text-2 u-s-m-b-8">Varsayılan Fatura Adresi</span>

                                                <span class="dash__text">Adres Dinamik Olacak</span>

                                                <span class="dash__text">(+90) Tel no Dinamik olacak!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius">
                            <h2 class="dash__h2 u-s-p-xy-20">SON SİPARİŞLER</h2>
                            <div class="dash__table-wrap gl-scroll">
                                <table class="dash__table">
                                    <thead>
                                        <tr>
                                            <th>Sipariş #</th>
                                            <th>Sipariş Tarihi</th>
                                            <th>Dinamik Olacak Alınan Ürünlerin resimleri olabilir</th>
                                            <th>Tutar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            <tr>
                                                <td>3054231326</td>
                                                <td>@Random.Shared.Next(1,30)/@Random.Shared.Next(DateTime.Now.Month,12)/@DateTime.Now.Year</td>
                                                <td>
                                                    <div class="dash__table-img-wrap">

                                                        <img style="background-size: cover;" class="u-img-fluid" src="/images/defaultProduct.jpg" alt="">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dash__table-total">

                                                        <span>347.00 TL</span>
                                                        <div class="dash__link dash__link--brand">

                                                            <a href="dash-manage-order.html">DÜZENLE</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======-->
